<launch>

<arg name="robot_ip" default="192.168.1.75" />
<arg name="limited" default="true" />

  <!-- <include file="$(find realsense2_camera)/launch/rs_rgbd.launch"/> -->

  <include file="$(find ultrasound_robot)/launch/force_sensor.launch"/>
  <include file="$(find gravity_compensation)/launch/gravity_compensation.launch"/>

  <include file="$(find ur_modern_driver)/launch/ur5_ros_control.launch">
    <arg name="robot_ip" value="$(arg robot_ip)"/>
    <arg name="controllers" default="vel_based_pos_traj_controller joint_state_controller"/>
    <arg name="stopped_controllers" default="joint_group_vel_controller "/>
  </include>

  <include file="$(find ur5_moveit_config)/launch/move_group.launch">
    <arg name="limited" value="$(arg limited)"/>
  </include>

  <!-- <node pkg="rviz" type="rviz" name="rviz" />   -->

  <!-- <include file="$(find moveit_jog_arm)/launch/spacenav_cpp.launch" /> -->

  <!--x y z qx qy qz qw--> 
  <node pkg="tf" type="static_transform_publisher" name="link1_broadcaster" args="-0.0449405149953 0.0282608492149 0.000449797438252 -0.510676353522 0.490219424807 -0.503089834938 0.49577736483 ee_link camera_link 100" />  
  
</launch>
