<launch>

  <!-- <include file="$(find realsense2_camera)/launch/rs_rgbd.launch"/> -->

  <include file="$(find ultrasound_robot)/launch/force_sensor.launch"/>
  <include file="$(find gravity_compensation)/launch/gravity_compensation.launch"/>

  <include file="$(find ur_gazebo)/launch/ur5.launch">
    <!-- <arg name="limited" value="true"/> -->
  </include>

  <include file="$(find ur5_moveit_config)/launch/ur5_moveit_planning_execution.launch">
    <arg name="sim" default="true" />
  </include>

  <include file="$(find ur5_moveit_config)/launch/moveit_rviz.launch">
    <arg name="config" value="true"/>
  </include>

  <include file="$(find moveit_jog_arm)/launch/spacenav_cpp.launch" />

  <!--x y z qx qy qz qw--> 
  <node pkg="tf" type="static_transform_publisher" name="link1_broadcaster" args="0.195 0.0 0.0 -1.5707963267949 0.0 0.0 ee_link probe 100" />  
  
  <!-- <include file="$(find ultrasound_robot)/launch/aruco_single_marker.launch" /> -->

</launch>
